---
import { Image } from "astro:assets";
import onemotionExmpl1Image from "@/images/onemotion-expl-1.png";
import onemotionExmpl2Image from "@/images/onemotion-expl-2.png";
import onemotionExmpl3Image from "@/images/onemotion-expl-3.png";
import onemotionExmpl4Image from "@/images/onemotion-expl-4.png";
import onemotionExmpl5Image from "@/images/onemotion-expl-5.png";
import onemotionExmpl6Image from "@/images/onemotion-expl-6.png";
import Layout from "@/components/Layout.astro";
---

<Layout>
  <div class="grid grid-cols-12 gap-4 lg:gap-8 max-w-7xl mx-auto">
    <div class="col-span-12 lg:col-span-8 space-y-4 pt-8">
      <Image
        src={onemotionExmpl1Image}
        alt="Developed a logo for the parent company OneMotion, uniting business projects with a focus on movement and systematization."
      />
      <Image src={onemotionExmpl2Image} alt="Onemotion's first example " />
      <Image src={onemotionExmpl3Image} alt="Onemotion's second example " />
      <Image src={onemotionExmpl4Image} alt="Onemotion's third example " />
      <Image src={onemotionExmpl5Image} alt="Onemotion's fourth example " />
      <Image src={onemotionExmpl6Image} alt="Onemotion's fifth example " />
    </div>
    <div class="col-span-12 lg:col-span-4">
      <div class="h-screen flex flex-col sticky top-0 pt-8 pb-4">
        <h1 class="text-3xl tracking-wider">Onemotion</h1>
        <p class="text-zinc-500 mt-2">
          Developed a logo for the parent company OneMotion, uniting business
          projects with a focus on movement and systematization.
        </p>
        <h1 class="text-3xl tracking-wider mt-6">Year</h1>
        <p class="text-zinc-500 mt-2">2023</p>
        <div class="flex justify-between mt-auto">
          <a href="/works" class="tracking-wider text-lg">Close &#215;</a>
          <a href="/" class="tracking-wider text-lg">Home</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
