---
import { Image } from "astro:assets";
import onemotionExmpl1Image from "@/images/onemotion-expl-1.png";
import onemotionExmpl2Image from "@/images/onemotion-expl-2.png";
import onemotionExmpl3Image from "@/images/onemotion-expl-3.png";
import onemotionExmpl4Image from "@/images/onemotion-expl-4.png";
import onemotionExmpl5Image from "@/images/onemotion-expl-5.png";
import onemotionExmpl6Image from "@/images/onemotion-expl-6.png";
import Layout from "@/components/Layout.astro";
---

<Layout>
  <div
    class="flex flex-col-reverse lg:flex-row gap-2 lg:gap-4 lg:gap-8 max-w-7xl mx-6 lg:mx-auto"
  >
    <div class="lg:basis-3/5 space-y-4 lg:pt-8">
      <Image
        src={onemotionExmpl1Image}
        alt="Developed a logo for the parent company OneMotion, uniting business projects with a focus on movement and systematization."
      />
      <Image src={onemotionExmpl2Image} alt="Onemotion's first example " />
      <Image src={onemotionExmpl3Image} alt="Onemotion's second example " />
      <Image src={onemotionExmpl4Image} alt="Onemotion's third example " />
      <Image src={onemotionExmpl5Image} alt="Onemotion's fourth example " />
      <Image src={onemotionExmpl6Image} alt="Onemotion's fifth example " />
    </div>

    <div class="lg:flex-1">
      <div
        class="lg:h-screen flex flex-col-reverse lg:flex-col lg:sticky top-0 pt-8 pb-4"
      >
        <div class="mt-4 lg:mt-0">
          <h1 class="text-3xl tracking-wider">Onemotion</h1>
          <p class="text-zinc-500 mt-2">
            Developed a logo for the parent company OneMotion, uniting business
            projects with a focus on movement and systematization.
          </p>
          <h1 class="text-3xl tracking-wider mt-4 lg:mt-6">Year</h1>
          <p class="text-zinc-500 mt-2">2023</p>
        </div>

        <div class="flex justify-between pb-4 lg:pb-0 mt-auto">
          <a href="/works" class="tracking-wider text-2xl lg:text-lg"
            >Close &#215;</a
          >
          <a href="/" class="tracking-wider text-2xl lg:text-lg">Home</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
